/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.app{
  min-height: 100vh;
  background-image: url('../assets/fondo.jpg');
  background-size: cover;
  background-position: center;
}
h1{
  padding-top: 30px;
  margin: 20px;
  text-align: center;
}
.app_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}